.features {
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}

.features__list {
  @media screen and (min-width: 768px) {
    @include grid-list();
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.features__item {
  width: 100%;
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
    @include grid-item();
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    @include grid-item($num: 4);
  }
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.features__bg-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 120px;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: var(--third-bg-color);
}

.features__title {
  color: var(--second-title-color);
  margin-bottom: 10px;
}

.features__text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
