.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--second-bg-color);
}

.footer__container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    align-items: baseline;
    justify-content: space-between;
  }
}

// FOOTER LEFT SIDE

.footer__left-side {
  @media screen and (max-width: 1199px) {
    text-align: center;
    margin-bottom: 60px;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.address__location {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.address__contacts {
  @extend .address__location;
  color: var(--contacts-color);
}

// END FOOTER LEFT SIDE

// FOOTER RIGHT SIDE

.footer__right-side {
  @extend .footer__left-side;
}

.footer__text {
  margin-bottom: 20px;
  color: var(--second-text-color);
}

.footer__social-list {
  justify-content: center;
}

.footer__social-link {
  color: var(--second-icon-color);
  background-color: var(--icon-bg-color);
}

.footer__icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

// END FOOTER RIGHT SIDE

// FOOTER FORM

.footer__form {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer__wrapper {
  display: flex;

  @media screen and (max-width: 1199px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.footer__email {
  width: 450px;
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;

  border: 1px solid var(--input-footer-border-color);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  background-color: transparent;
  color: var(--second-text-color);

  @media screen and (max-width: 479px) {
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.footer__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__icon {
  color: currentColor;
}

.footer__form-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  margin-left: 10px;
}

// END FOOTER FORM
