.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;

  max-width: 480px;
  height: 400px;

  text-align: center;

  @include bg-linear("../img/hero/hero.jpg");
  background-color: var(--second-bg-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @include bg-linear("../img/hero/hero@2x.jpg");
  }

  @media screen and (min-width: 481px) {
    max-width: 768px;
    @include bg-linear("../img/hero/hero-tablet.jpg");
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @include bg-linear("../img/hero/hero-tablet@2x.jpg");
  }

  @media screen and (min-width: 769px) {
    max-width: 1600px;

    @include bg-linear("../img/hero/hero-desktop.jpg");
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @include bg-linear("../img/hero/hero-desktop@2x.jpg");
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    margin-top: 80px;

    height: 600px;
  }
}

.hero__wrapper {
  width: 360px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1200px) {
    width: 696px;
  }
}

.hero__title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-title-color);

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: calc(60 / 44);
  }
}
