.occupation {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.occupation__list {
  display: flex;
}

.occupation__item {
  width: 370px;
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.occupation__desc {
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 70px;
  background-color: var(--occupation-overlay-color);
}

.occupation__text {
  color: var(--second-text-color);
}
