@mixin grid-list($mt: -30px, $ml: -30px) {
  display: flex;
  flex-wrap: wrap;
  margin-top: $mt;
  margin-left: $ml;
}

@mixin grid-item($mt: 30px, $ml: 30px, $num: 2) {
  margin-top: $mt;
  margin-left: $ml;
  flex-basis: calc((100% - $num * $mt) / $num);
}

@mixin bg-linear($url) {
  background-image: linear-gradient(
      var(--hero-overlay-color),
      var(--hero-overlay-color)
    ),
    url($url);
}
