:root {
	--first-title-color: #ffffff;
	--second-title-color: #212121;
	--first-text-color: #757575;
	--second-text-color: #ffffff;
	--third-text-color: #212121;
	--accent-color: #2196f3;
	--contacts-color: rgba(255, 255, 255, 0.6);
	--additional-color: #000000;
	--btn-hover-color: #188ce8;
	--filter-button-bg-color: #f5f4fa;
	--line-color: #ececec;
	--cards-border-color: #eeeeee;
	--first-bg-color: #ffffff;
	--second-bg-color: #2f303a;
	--third-bg-color: #f5f4fa;
	--first-icon-color: #afb1b8;
	--second-icon-color: #ffffff;
	--icon-bg-color: rgba(255, 255, 255, 0.1);
	--backdrop-color: rgba(0, 0, 0, 0.2);
	--shadow-btn-color: rgba(0, 0, 0, 0.15);
	--btn-border-color: rgba(0, 0, 0, 0.1);
	--input-border-color: rgba(33, 33, 33, 0.2);
	--placeholder-color: rgba(117, 117, 117, 0.5);
	--hero-overlay-color: rgba(47, 48, 58, 0.4);
	--occupation-overlay-color: rgba(47, 48, 58, 0.8);
	--first-shadow-item-color: rgba(0, 0, 0, 0.12);
	--second-shadow-item-color: rgba(0, 0, 0, 0.14);
	--third-shadow-item-color: rgba(0, 0, 0, 0.2);
	--first-shadow-filter-color: rgba(0, 0, 0, 0.1);
	--second-shadow-filter-color: rgba(0, 0, 0, 0.08);
	--third-shadow-filter-color: rgba(0, 0, 0, 0.12);
	--first-shadow-works-color: rgba(0, 0, 0, 0.12);
	--second-shadow-works-color: rgba(0, 0, 0, 0.06);
	--third-shadow-works-color: rgba(0, 0, 0, 0.16);
	--works-overlay-color: rgba(33, 150, 243, 0.9);
	--transit-dur: 250ms;
	--transit-func: cubic-bezier(0.4, 0, 0.2, 1);
}
